version: '3.8'

services:
  db:
    build:
      context: .
      dockerfile: ./db/Dockerfile
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: lviv_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
